[submodule ".registry"]
	path = .registry
	url = https://github.com/jrosell/jrosell.r-universe.dev
	branch = HEAD
[submodule "ambhtmx"]
	path = ambhtmx
	url = https://github.com/jrosell/ambhtmx
[submodule "jrrosell"]
	path = jrrosell
	url = https://github.com/jrosell/jrrosell
[submodule "rreversegeocoder"]
	path = rreversegeocoder
	url = https://github.com/jrosell/rreversegeocoder
[submodule "uwu"]
	path = uwu
	url = https://github.com/josiahparry/uwu
	registered = false
